* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    color: #333;
    background: #000d25;
}

div{
    display: block;
    unicode-bidi: isolate;
}

.header {
    background-color: #09d005;
    color: white;
    padding: 0rem;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 3rem;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 1.5rem;
    font-size: 1rem;
    display: flex;
    margin-top: 0.3rem;
}

.titulo {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0.3rem;
    margin-right: auto;
  }

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    display: flex;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
}

.nav-links a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #000d25, #3d7bed);
    transition: width 0.4s ease-in-out;
}

.nav-links a:hover:before {
    width: 100%;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 1rem auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slides img {
    width: 100%;
    border: none;
}

.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.buttons button {
    background-color: #09d005;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50px;
    
}
.buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



.pizzas-container {
    display: flex;
    width: 90%;
    margin: 50px auto;
    position: relative;       /* Define posição como relativa */
    overflow: visible;
}

.combo {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    cursor: pointer;
    flex: 1 1;
    background-color: #09d005; /* Fundo para destaque */
    padding: 10px;
    position: relative;        /* Define a posição como relativa */
    top: -15px;                /* Move o conteúdo para cima */
    left: 10px;                /* Move o conteúdo levemente para a direita */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}
.combo-img {
  padding: 0 30px;
  transition: margin-top 0.2s ease-in-out, background-color 1s ease-in-out, transform  0.3s ease-in-out;
  img {
    max-width: 100%;
    height: auto;
  }
}

.combo-detalhes {
    margin: 0 20px 0 0;
    font-weight: bold;

     .combo-titulo {
       font-size: 1.9rem;
       line-height: 33px;
       font-family: "Roboto Slab", serif;
       color: #000d25;
     }
}

.combo-itens {
    margin: 10px 0 10px 0px;
    font-size: 0.8em;
    font-family: "Roboto Slab", serif;
    color: white;
    min-height: 70px;
}

.btn-pedir {
    margin: 28.5% 0 0 10%;
    position: absolute;
    z-index: 9;
}

